<ion-header no-border>
  <ion-toolbar no-border>  

    <ion-button slot="start" fill="clear"  ion-button icon-only>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-title>Chat</ion-title>

  </ion-toolbar>


  <ion-searchbar
                 type="text" 
                 placeholder="Cerca"
                 (ionChange)="ricerca($event)"
  ></ion-searchbar>

  
</ion-header>

<ion-content>



  <ion-list>
  <ion-item-divider color="light">Oggi</ion-item-divider>
    <ion-item *ngFor="let utente of chatUtenti | filtro: testoRicercato: 'cod_utente0' ">
      <ion-avatar item-start>
        <img src="../../assets/img/avatar2.png">
      </ion-avatar>
      
      <ion-label>
        <h3>{{utente.cod_utente0}}</h3>
        <!-- <p>{{utente.email}}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>