<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
      <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
        <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline" ></ion-icon>
        </ion-button>
     
      <ion-title class="textTitle" class="ion-text-center"><b>Modifica domanda</b></ion-title>
      
      <ion-button  slot="end" expand="block" fill="clear" (click)="popupConfermaModificheDomanda()" class="msg-btn">
        <ion-icon color="success" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>
     
    </ion-toolbar>
  </ion-header>

<ion-content class="backgrounds">
  <ion-card color="primary">
  <ion-card>
    <ion-item color="light">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      <ion-label position="stacked"><strong>Titolo</strong></ion-label>
      <ion-input readonly placeholder={{titoloView}} color="medium" (click)="popupModificaTitolo()"></ion-input>
    </ion-item>
  
    <ion-item color="light">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label position="stacked"><strong>Data e ora creazione</strong></ion-label>
      <ion-input id="dataOraCreazione" readonly placeholder="" color="medium"></ion-input>
    </ion-item>
  
    <ion-item color="light">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label position="stacked"><strong>Timer</strong></ion-label>
      <ion-input readonly placeholder={{timerView}} color="medium" (click)="showTimerPicker()"></ion-input>
    </ion-item>


  
    <ion-item color="light">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label position="stacked"><strong>Descrizione</strong></ion-label>
      <ion-input readonly placeholder={{descrizioneView}} color="medium" (click)="popupModificaDescrizione()"></ion-input>
      </ion-item>

      <ion-item color="light" (click)="showCategoriaPicker()" >
        <ion-label>
            <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
        </ion-label>
        <ion-text *ngIf="[categoriaView]==''" class="placeholder"><strong>Categoria</strong></ion-text>
        <ion-text *ngIf="[categoriaView]!=''" class="text">{{categoriaView}}</ion-text>
        <ion-icon class="inner" name="chevron-down-outline"></ion-icon>
      </ion-item>
  
      <ion-item color="light">
        <ion-icon name="alert-outline" slot="start"></ion-icon>
        <ion-label position="stacked"><strong>La tua domanda scadrà tra</strong></ion-label>
        <ion-input readonly placeholder="" color="medium" >{{timerView}}</ion-input>
      </ion-item>

  </ion-card>
  </ion-card>
  

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;">
    <ion-fab-button  size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
