<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
      <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
        <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
     
      <ion-title style="font-size: x-large; text-align: center;"><b>Modifica domanda</b></ion-title>
      
      <ion-button  slot="end" expand="block" fill="clear" (click)="popupConfermaModificheDomanda()" class="msg-btn">
        <ion-icon color="primary" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>
     
    </ion-toolbar>
  </ion-header>

<ion-content class="backgrounds">
  <ion-card>
    <ion-item href="#">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      <ion-label>Titolo</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>Data e ora</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="timer-outline" slot="start"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label>Descrizione</ion-label>
    </ion-item>

  </ion-card>
  
  <ion-button expand="block" color="light" class="ion-margin" (click)="popupConfermaEliminaDomanda()">
    <ion-text color="danger">Elimina</ion-text>
  </ion-button>

</ion-content>
