<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
      <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
        <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
     
      <ion-title style="font-size: x-large; text-align: center;"><b>Modifica domanda</b></ion-title>
      
      <ion-button  slot="end" expand="block" fill="clear" (click)="popupConfermaModificheDomanda()" class="msg-btn">
        <ion-icon color="primary" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>
     
    </ion-toolbar>
  </ion-header>

<ion-content class="backgrounds">
  <ion-card>
    <ion-item color="light">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Titolo</ion-label>
      <ion-input readonly placeholder="Perchè i cani si mordono la coda?" color="medium" (click)="popupModificaTitolo()"></ion-input>
    </ion-item>
  
    <ion-item color="light">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Data e ora</ion-label>
      <ion-datetime placeholder="Data e ora" displayFormat="DD/MM/YYYY HH:mm"  pickerFormat="DD MM YYYY"></ion-datetime>

    </ion-item>
  
    <ion-item color="light">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Timer</ion-label>
      <ion-datetime placeholder="Timer" displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>
    </ion-item>

  
    <ion-item color="light">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Descrizione</ion-label>
      <ion-input readonly placeholder="Ho notato che il mio cane . ." color="medium" (click)="popupModificaDescrizione()"></ion-input>
      </ion-item>

  </ion-card>
  
  <ion-button expand="block" color="light" class="ion-margin" (click)="popupConfermaEliminaDomanda()">
    <ion-text color="danger">Elimina</ion-text>
  </ion-button>

</ion-content>
