<ion-content padding fixed class="bg-class" id="fixed">
  <!--  <era div class='background-container'></div> -->
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <div>
    <div class="logo"></div>
    <div align="center">
      <h1 class="textTitleBIG">
        {{codice_utente}} Benvenuto!
      </h1>
      <h2 class="textTitle">
        La registrazione è avvenuta con successo.
      </h2>
      <p class="textSimple">
        Inizia subito ad interagire con la community!
      </p>
    </div>


    <ion-card>
      <ion-segment class="segmentBG">
        <ion-segment-button (click)="domanda()">
          <ion-label>
            <ion-icon name="add" color="primary"></ion-icon>
            Nuova Domanda
          </ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="sondaggio()">
          <ion-label>
            <ion-icon name="add" color="primary"></ion-icon>
            Nuovo Sondaggio
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-segment class="segmentBG">
        <ion-segment-button (click)="home()">
          <ion-label>
            <ion-icon name="home" color="primary"></ion-icon>
            Vai alla Home
          </ion-label>
        </ion-segment-button>
      </ion-segment>
      <div style="bottom:0;" align="center">
        <h3 class="textTitle" (click)="modificaProfilo()">
          <u>
            Vuoi modificare il tuo profilo?
          </u>
        </h3>
      </div>
    </ion-card>
  </div>
</ion-content>