ion-button {
    ion-icon {
        font-size: 1.5rem;
    }
}

ion-title {
    text-align: center;
}

ion-input {
    ::ng-deep {
        .native-input.sc-ion-input-md {
            padding-left: 8px;
        }

        .native-input.sc-ion-input-ios {
            padding-left: 8px;
        }
    }
}

.delete {
    position: absolute;
    right: 0;
    margin-bottom: 8;
    margin-top: 0;
}

.plus {
    margin-left: auto;
    margin-right: auto;
    ion-icon {
        font-size: 1.5rem;
        color: var(--ion-color-primary);
    }
}

.inner {
    opacity: 0.6;
    font-size: 0.8rem;
    margin-left: 2px;
    // left: 5px;
    // top: 50%;
    // margin-top: -3px;
    // position: absolute;
    // width: 0px;
    // height: 0px;
    // color: currentcolor;
    // pointer-events: none;
    // border-right: 5px solid transparent;
    // border-left: 5px solid transparent;
    // position: relative;
    // opacity: 0.33;
    // width: 12px;
    // height: 18px;
    // visibility: inherit;
}

.placeholder {
    opacity: 0.4;
}

.itemClass {
    border-radius: 10px;
    margin-top: 10px;
    --background: #3171e0;
}

ion-text.text{
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    // max-height: 10%;
    // font-size:9vw
}

// ion-select{
//     position: fixed;
//     right: 0;
//     padding-right: 43px;
// }

// .timer{
//     margin-left: 10%;
//     margin-right: 10%;
// }
// .scelta{
//     margin-left: 20%;
//     margin-right: 20%;

//     ion-label{
//         color: var(--ion-color-primary);
//     }
// }
