<ion-header>
  <ion-toolbar>
    <ion-title>AnswerOverFlow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "backgrounds">
    <ion-card class = "backgrounds">
      <ion-card-header>
        <ion-row center ><ion-icon   class = "textTitle" name="alarm-outline"></ion-icon><ion-label class = "textTitle"> 50:50</ion-label></ion-row>
        <ion-card-title class = "textTitleBIG">titolo sondaggio</ion-card-title>
      </ion-card-header>

      <ion-card-content>
       <p class= "textSimple">descrizione sondaggio</p>
         <ion-row>
           <ion-col>
              <div>
  
              </div>
            </ion-col>


            <ion-col>
              <div>
                    <ion-label class= "textTitleSMALL">Postato in: categoria il 12/12/99</ion-label>
               </div>
            </ion-col>

          </ion-row>


      <ion-list class = "backgrounds">
        <ion-list-header>Scelte</ion-list-header>

          <div class = "backgrounds">
        
          <ion-item >    
            <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            <ion-label>Scelta1</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox color="primary"  slot="start"></ion-checkbox>
            <ion-label>Scelta2</ion-label>
          </ion-item>

          <ion-item >
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>Scelta3</ion-label>
          </ion-item>

          <ion-item >
            <ion-checkbox color="primary" slot="start"></ion-checkbox>
            <ion-label>Scelta4</ion-label>
          </ion-item>

        </div>
        </ion-list>
    </ion-card-content>

    <ion-row>

      <ion-col>
        <div>
          <ion-button slot="end" color="light">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>


      <ion-col>
        <div>    
           <ion-button slot="end" color="light">
          <ion-icon name="hammer-outline"></ion-icon>
        </ion-button>
         
        </div>
      </ion-col>

      <ion-col>
        <div>
 
        </div>
      </ion-col>

      <ion-col>
        <div>
 
        </div>
      </ion-col>

      <ion-col>
        <div>
 
        </div>
      </ion-col>


      <ion-col>
      <div >
        <ion-button slot="end" color="light">
          <ion-icon  name = "chevron-forward" slot="icon-only" class = "textTitleBIG">
            <ion-label ></ion-label>
          </ion-icon>
        </ion-button>

  
      </div>
      </ion-col>
  
  </ion-row>

    </ion-card>


</ion-content>    

