.alarm_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5
}

.thumb_up_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: green;
}

.thumb_down_style{

    font-size: 1.5rem;
    color: red;
}

.ribbon_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: gold;
}

.icons_generic_style{
    font-size: 1.5rem;

}

.calendar_icon_style{
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5
}

.username_text_style{
    font-size: 1.2rem;
    color: #97a9c5


}

.icon-avatar{
    max-width: 50px; 
    max-height: 50px;
    margin-right: 7px;
    padding: 3px;


}

.description_text{
    font-size: 0.8rem;
    color: #97a9c5

}

.icon_list_style{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5


}