.alarm_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5
}

.thumb_up_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: green;
}

.thumb_down_style{

    font-size: 1.5rem;
    color: red;
}

.ribbon_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: gold;
}

.icons_generic_style{
    font-size: 1.5rem;

}

.calendar_icon_style{
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5
}

.username_text_style{
    font-size: 1.2rem;
    color: #97a9c5


}

.icon-avatar{
    max-width: 40px; 
    max-height: 40px;
    margin-right: 7px;
    padding: 3px;
    border: 1px solid !important;
    border-radius: 50% !important;

}

.description_text{
    font-size: 0.8rem;
    color: #97a9c5

}

.icon_list_style{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5


}

.ribbon_style{
    padding-right: 0.5rem;
    font-size: 2rem;
    color: gold;
}

.ribbon_style_not_pushed{
    padding-right: 0.5rem;
    font-size: 2rem;
    color: #2a2a2a;
}

.progress-bar-style{
        --background:#e0dede;
        --border: #343434;
        height: 0.7rem;
        border-radius: 25px;
    
}

.progress-bar-style-noperc{

    --background:none;
    --progress-background:none;
  

}

.chosen{

    --background:none;
    --progress-background:#64F58D;
  

}

.not-chosen{
    --background:none;
    --progress-background:#2a2a2a;
  
}

.usernameClass{
    font-size: 1rem;
    color: DodgerBlue;
}

.titleStyle {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5
  }

  .num-voti-style {
    margin-left: 0.5rem;
        font-size: 0.8rem;
  }
  
  .textSceltaFatta {
    font-size: 1rem;
    
}
  