<ion-header>
  <ion-toolbar>
    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title *ngIf="currentUser===sondaggio.cod_utente">Dettagli del tuo sondaggio</ion-title>
    <ion-title *ngIf="currentUser!==sondaggio.cod_utente">Dettagli del sondaggio</ion-title>
    <ion-button *ngIf="sceltaFatta === true" slot="end" expand="block" fill="clear" (click)="confermaVoto()"
      class="msg-btn">
      <ion-icon color="success" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="backgrounds"
  style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">
  <ion-fab size="small" *ngIf="currentUser===sondaggio.cod_utente" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button size="small">
      <ion-icon name="settings" style="font-size: 1rem; "></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button size="small" color="light" (click)="popUpEliminaSondaggio()">
        <ion-icon name="trash-sharp" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" color="light" (click)="  goModificaSondaggio() ">
        <ion-icon style="font-size: 1rem; " name="hammer-sharp" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!---------Refreshers--------->
  <ion-refresher *ngIf="votato === false" slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-refresher *ngIf="votato === true" slot="fixed" (ionRefresh)="refreshDopoVoto($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!---------Card visualizzazione del sondaggio---------->
  <ion-card class="backgrounds">
    <ion-card-header>
      <ion-row>
        <ion-icon class="alarm_style" name="alarm-outline" slot="start"></ion-icon>
        <ion-button disabled=true expand="block" fill="clear">
          <ion-icon class="icons_generic_style" name="alarm-outline"></ion-icon>
        </ion-button>
        <ion-button disabled=true expand="block" fill="clear">
          <ion-label id="timeLeft" color="medium"></ion-label>
        </ion-button>
      </ion-row>

      <ion-row *ngIf="currentUser!==sondaggio.cod_utente">
        <ion-avatar (click)="clickProfilo(sondaggioUser)" class="icon-avatar">
          <img src={{profiloUserSondaggio.avatar}}>
        </ion-avatar>
        <ion-label class="usernameClass" (click)="clickProfilo(sondaggioUser)">{{profiloUserSondaggio.username}}
        </ion-label>
      </ion-row>

      <ion-card-title class="titleStyle"><strong>{{sondaggio.titolo}}</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="textSimple">{{descrizione}}</p>
      <ion-label>Voti totali: {{voti_totali}}</ion-label>

      <!-----------Divisore visualizzazione scelte---------->
      <div color="blue" style="--background: none; padding: 0.5rem;" *ngFor="let scelta of scelte, let i = index">
        <div style="margin-bottom: 1rem">
          <ion-progress-bar (click)="getScelta(scelta.descrizione, i)"
            *ngIf="i!==numeroScelta && currentUser!==sondaggio.cod_utente && votato === false" class="not-chosen"
            value="100">
          </ion-progress-bar>

          <ion-progress-bar (click)="getScelta(scelta.descrizione, i)"
            *ngIf="i===numeroScelta && sceltaFatta == true && currentUser!==sondaggio.cod_utente && votato === false"
            class="chosen" value="100">
          </ion-progress-bar>
          <ion-text class="textSimple" slot="start">{{scelta.descrizione}}</ion-text>
          <ion-label class="num-voti-style"
            *ngIf="(currentUser===sondaggio.cod_utente  || votato === true) && scelta.num_favorevoli >1" slot="start">
            {{scelta.num_favorevoli}} voti</ion-label>
          <ion-label class="num-voti-style"
            *ngIf="(currentUser===sondaggio.cod_utente  || votato === true) && scelta.num_favorevoli ===1" slot="start">
            {{scelta.num_favorevoli}} voto</ion-label>
          <ion-label class="num-voti-style"
            *ngIf="(currentUser===sondaggio.cod_utente  || votato === true) && scelta.num_favorevoli ===0" slot="start">
            Nessun voto</ion-label>
        </div>

        <!--Divisore per la visualizzazione delle percentuali dei voti-->
        <div
          *ngIf="(currentUser===sondaggio.cod_utente && voti_totali !=0) || votato === true || sondaggioAperto  === false">
          <ion-progress-bar class="progress-bar-style" *ngIf="percentualiScelte[i]!==0" [value]="percentualiScelte[i]">
          </ion-progress-bar>
        </div>
      </div>

      <ion-toolbar>

        <!--Data di inserimento del sondaggio e categoria-->
        <div>
          <ion-chip disabled = "true" color="secondary">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label class="description_text">{{sondaggio.dataeora | date: formatsDate}}</ion-label>
          </ion-chip>
        </div>

        <div>
          <ion-chip color="secondary">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label class="description_text">{{categoria}}</ion-label>
          </ion-chip>
        </div>


        <!--Tasto chat con l'user che ha posto il sondaggio-->
        <ion-icon *ngIf="currentUser!==sondaggioUser" name="chatbubble-ellipses-outline" class="icons_generic_style"
          (click)=" goChat()" slot="end">
        </ion-icon>


      </ion-toolbar>
    </ion-card-content>
  </ion-card>

  <!--Label da visualizzare a seconda dello stato del sondaggio-->
  <ion-label *ngIf="sondaggioAperto !== true">Il sondaggio è scaduto, non puoi più votare</ion-label>

  <ion-card *ngIf="sondaggioAperto === false && currentUser===sondaggio.cod_utente">
    <ion-card-header>
      <ion-label>Il tuo sondaggio è scaduto, nessuno potrà più votare</ion-label>
    </ion-card-header>
  </ion-card>


  <ion-card *ngIf="sondaggioAperto === false">
    <ion-card-header>
      <ion-label>Il sondaggio è scaduto, non puoi più votare</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="votato === true && currentUser!==sondaggio.cod_utente">
    <ion-card-header>
      <ion-label>Hai già votato al sondaggio!</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;
                                                                      ">
    <ion-fab-button size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>