<ion-header>
  <ion-toolbar class="backgorundsSecondaryItem">

    <ion-button slot="start" color="light">
      <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
        <ion-text color="primary"> Indietro </ion-text>
    </ion-button>

    <ion-title class="textTitle">Proponi categoria</ion-title>

    <ion-button slot="end" color="light">
      <ion-text color="primary"> Invio </ion-text>
    </ion-button>
  </ion-toolbar> 
</ion-header>

<ion-content class="backgrounds">
  <ion-item>
    <ion-label class="titleSize">Hai una nuova categoria da proporre?<br>
      <ion-text class="normalText">Inserisci nello spazio sottostante il nome della categoria da aggiungere.<br></ion-text>
      <ion-text class="normalText">I nostri sviluppatori valuteranno la proposta al più presto!</ion-text>
    </ion-label>
  </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome nuova categoria
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input placeholder="es. informatica, letteratura..."></ion-input>
    </ion-item>
</ion-content>
