<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title class="textTitle">PROPONI CATEGORIA</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="titleSize">Hai una nuova categoria o sottocategoria da proporre?</ion-card-title>
      <ion-card-subtitle class="normalText"><br>- Seleziona dalla lista la categoria per la quale proporre una nuova sottocategoria.<br>
        - Per proporre una nuova categoria selezionare l'opzione "Nuova Categoria".<br>
        - Scrivi nel box di testo il nome della nuova categoria o sottocategoria.
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-text class="boxText">Seleziona categoria</ion-text>
      <ion-text class="rboxText">*</ion-text>      
      <ion-select placeholder="- - - - -" interface="popover" class="select" [(ngModel)]="selezione">
        <ion-select-option value="Scienza">Scienza</ion-select-option>
        <ion-select-option value="Informatica">Informatica</ion-select-option>
        <ion-select-option value="Arte">Arte</ion-select-option>
        <ion-select-option value="Letteratura">Letteratura</ion-select-option>
        <ion-select-option value="Nuova categoria">Nuova categoria</ion-select-option>
      </ion-select>
      
      <ion-text class="boxText">Inserisci nome</ion-text>
      <ion-text class="rboxText">*</ion-text>
      <ion-input [disabled]="selezione === ''" placeholder="es. Musica (Rock, Pop...), Letteratura (Fantasy, Thriller...), ecc..." class="select" [(ngModel)]="proposta"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-button class="btnInvio" expand="block" [disabled]="proposta === ''" (click)="post_invio()">
    <ion-text> INVIO </ion-text>
  </ion-button>
</ion-content>
