.textTitle{
    text-align: center;
    font-size: 1rem;
    color: #97a9c5;
}

.titleSize{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.normalText{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
}

.backBtn{
    --padding-start: 0.5em;
    --padding-end: 0.5em
}

.btn-invio{
    margin-left: 50%;
}