<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title class="textTitle">Proponi Categoria</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">
  <ion-card>
    <ion-card-content>
      <ion-card-title class="titleSize">Hai una nuova categoria da proporre?</ion-card-title><p style="line-height: 0.5rem;"><br></p>
      <ion-card-subtitle class="normalText">Scrivi nel box di testo sottostante il nome della categoria che vuoi proporre ai nostri sviluppatori.
        Riceveranno una mail con la tua proposta e la valuteranno al più presto!</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>      
      <ion-text class="boxText">Inserisci nome</ion-text>
      <ion-text class="rboxText">*</ion-text>
      <ion-input placeholder="es. Musica, Letteratura, Cinema, ecc..." class="select" [(ngModel)]="proposta"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-button class="btnInvio" expand="block" [disabled]="proposta === ''" (click)="post_invio()">
    <ion-text> INVIO </ion-text>
  </ion-button>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;">
    <ion-fab-button size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
