<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458322460495-tqv6m0qbgqrng9p0knj7i1gs4pdhcr4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458322460495-tqv6m0qbgqrng9p0knj7i1gs4pdhcr4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBwsVYAh0iCduYyGqhOfVrgAsnI9DN_5GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>458322460495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.answeroverflow.project</string>
	<key>PROJECT_ID</key>
	<string>answeroverflow-99456</string>
	<key>STORAGE_BUCKET</key>
	<string>answeroverflow-99456.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458322460495:ios:22ba6cb163091161cf0f3a</string>
	<key>DATABASE_URL</key>
	<string>https://answeroverflow-99456.firebaseio.com</string>
</dict>
</plist>