.colorBlack{
    color:black;
}

.itemClass{
    border-radius: 10px;
    --background: #3171e0;
    height: 35px;
    width: 90px;
    }

    .placeholder {
        opacity: 2;
        font-size: 0.88rem;
        padding-right: 8px;
        
    }

    .chip{
        
        right: 10px;
         position: absolute;
    }

    .segment{
        top:50px;
    }

    .icon-avatar{
        max-width: 50px; 
        max-height: 50px;
        margin-right: 7px;
        padding: 3px;
    
    }

    .username_text_style{
        font-size: 1.2rem;
        color: DodgerBlue;
    }

    .card {
        background-size: 100%;
        background: -webkit-linear-gradient(#19314A,transparent);
      }

      .lockOpen{
        font-size: 25px;
        padding-right: 5px;
        color:green
      }
      
      .lockClosed{
        font-size: 25px;
        color: red
      }
