<ion-toolbar class="backgroundsSecondaryItem">
  
  <ion-button slot="start" expand="block" fill="clear" class="msg-btn">
    <ion-icon name="arrow-back-outline" color="primary" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-title class="textTitle" slot="start">Modifica Risposta</ion-title>

  <ion-button slot="end" expand="block" fill="clear" class="msg-btn" (click)="popupConfermaModificheRisposta()">
    <ion-icon name="checkmark-sharp" color="success"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content class="backgrounds">
  <ion-card>
    <ion-item color="light">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Descrizione</ion-label>
      <ion-input readonly placeholder="I cani si mordono la coda perchè sono stupidi" color="medium" (click)="popupModificaDescrizione()"></ion-input>
    </ion-item>
  </ion-card>

  <ion-button expand="block" color="light" class="ion-margin" (click)="popupConfermaEliminaRisposta()">
    <ion-text color="danger">Elimina</ion-text>
  </ion-button>
</ion-content>
