.textButton {
    color: #1b6dd8
  }
.textTitleMockUp {
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}

.profilePicture {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textPicture {
    color: #1b6dd8;
    margin-left: 40.2%;
    
}