<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
      <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
        <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
     
      <ion-title style="font-size: x-large; text-align: center;"><b>Modifica profilo</b></ion-title>
      
      <ion-button  slot="end" expand="block" fill="clear" (click)="popupConfermaModificaProfilo()">
        <ion-icon color="primary" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>
     
    </ion-toolbar>
  </ion-header>

<ion-content class="backgrounds">
  <ion-card>
  <ion-icon class="profilePicture" name="person-circle-outline"></ion-icon>
  <ion-text class="textPicture">Cambia foto</ion-text>

      <ion-item color="light">
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Username</ion-label>
        <ion-input readonly placeholder="andreatosto__" color="medium"></ion-input>
      </ion-item>
    
      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input placeholder="Michele" color="medium"></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-input placeholder="Vitantonio" color="medium"></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Bio</ion-label>
        <ion-input placeholder="Professore presso l'isti. ." color="medium"></ion-input>
      </ion-item>
  
    </ion-card>
  
</ion-content>
