<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
      <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
        <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
     
      <ion-title style="font-size: x-large; text-align: center;"><b>Modifica profilo</b></ion-title>
      
      <ion-button  slot="end" expand="block" fill="clear" (click)="popupConfermaModificaProfilo()">
        <ion-icon color="primary" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>
     
    </ion-toolbar>
  </ion-header>

<ion-content style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">
  <ion-card>
  <img class="profilePicture" src={{avatar}} button=true (click)="selectAvatar()">

      <ion-item color="light">
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label position="stacked"><strong>Username</strong>
        </ion-label>
        <ion-input readonly value={{usernameView}} color="medium" (click)="popupModificaUsername()"></ion-input>
      </ion-item>
    
      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked"><strong>Nome</strong></ion-label>
        <ion-input value={{nomeView}} color="medium" (click)="popupModificaNome()" ></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked"><strong>Cognome</strong></ion-label>
        <ion-input value={{cognomeView}} color="medium" (click)="popupModificaCognome()" ></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label position="stacked"><strong>Bio</strong></ion-label>
        <ion-input value={{bioView}} color="medium" (click)="popupModificaBio()" ></ion-input>
      </ion-item>
      

    </ion-card>
    
    <ion-button expand="block" color="light" class="ion-margin" a routerLink="/modifica-password">
      <ion-text color="danger">Modifica password</ion-text>
    </ion-button>

</ion-content>
