<ion-content style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">

  <ion-item style="border-radius: 20px; margin: 10px;box-shadow: 2px 5px 10px #000000;">Colored</ion-item>
  <ion-card style="border-radius: 20px; padding-top: 14px;padding-bottom: 14px;box-shadow: 2px 5px 10px #000000;">
    <div class="wrapper">
      <ion-avatar *ngFor="let colored of colorFullfilled; index as i" id="coloredAvatar{{i}}"
        (click)="stampaUrl(colored, 'colored', i)">
        <img src={{colored}}>
      </ion-avatar>
    </div>
  </ion-card>

  <ion-item style="border-radius: 20px; margin: 10px;box-shadow: 2px 5px 10px #000000;">Blue</ion-item>

  <ion-card style="border-radius: 20px; padding-top: 14px;padding-bottom: 14px;box-shadow: 2px 5px 10px #000000;">
    <div class="wrapper">
      <ion-avatar *ngFor="let lined of linesFilled; index as i" id="linedAvatar{{i}}"
        (click)="stampaUrl(lined, 'lined', i)">
        <img src={{lined}}>
      </ion-avatar>
    </div>
  </ion-card>

  <div style="text-align: center">
    <ion-button color="danger" style="margin:auto" (click)="annulla()">Annulla</ion-button>
  </div>
  <ion-button expand="block" color="primary" size="large" style="margin: 10px;" (click)="avatarScelto()">
    Salva
  </ion-button>

</ion-content>