<ion-header class= "ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title style="font-size: x-large; text-align: center;"><b>{{chatFriend}}</b></ion-title>
    <ion-avatar slot="end" class="icon-avatar" (click)="goToProfile()">
      <img
        src="https://ladante.it/images/slideshow_homepage/2015/07luglio/le100parole-del-gusto/foto-in-cerchio/bruno-vespa-96x96-tonde.png">
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" class="backgrounds" style="overflow: scroll;">
  <ion-grid>
    <ion-row *ngFor="let message of messages; let indexElement=index;">
      <div class="datarow" *ngIf="messages[indexElement].dataeora === messages[indexElement].dataeora " >
        <ion-label> {{messages[indexElement].dataeora | date: "fullDate"}}  </ion-label>
      </div>
      <ion-col size="9" class="message other-message" *ngIf="msg_utente_id !== message.msg_utente_id">
        <span>{{message.testo}}</span>
        <div class="time"><br>
          {{message.dataeora | date:'shortTime'}}
        </div>
      </ion-col>

      <ion-col class="message my-message" offset="3" size="9" *ngIf="msg_utente_id === message.msg_utente_id">
        <!-- <b style="color: blue;">Tu</b><br> -->
        <span>{{message.testo}}</span>
        <div class="time"><br>
          {{message.dataeora | date:'shortTime'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar calss="backgroundsSecondaryItem">
    <ion-row style="align-items: center;">
      <ion-col style="padding-inline-start: 10px;" size="10">
        <ion-textarea class="message-input" [(ngModel)]="testo" placeholder="Messaggio" rows="1">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="clicca()" expand="block" fill="clear" [disabled]="testo === ''" class="msg-btn">
          <ion-icon color="primary" name="send-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>