ion-item {


    margin-top: 1%;
    align-content: center;
    border-bottom: solid 1px grey;
  
    color: black;
  
  }
  .titolo{
    font-size: 2rem;
    color: #97a9c5;
  }
  .grid{
    height: 50%;
    width: 50%;
  
    text-align: center;
  
  }
  
  ion-button {
  
    width: 100%;
    margin-top: 3%;
  }
  
  a {
  
    color: grey;
  
  }
  
  ion-content.background {
  
    color: #2a2a2a
  }