<ion-header>
  <ion-toolbar>
    <ion-title>registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backgrounds">
  <ion-item>
    <ion-label fixed ></ion-label>
    <ion-input placeholder="Nome*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed></ion-label>
    <ion-input placeholder="Cognome*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed></ion-label>
    <ion-input placeholder="E-mail*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed></ion-label>
    <ion-input placeholder="Username*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed></ion-label>
    <ion-input placeholder="Password*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed></ion-label>
    <ion-input placeholder="Conferma Password*" type="text" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-text>*Accetto i termini.....</ion-text>
    <ion-checkbox color="dark" checked="false"></ion-checkbox>
  </ion-item>
  <div>
    <ion-button expand="block" slot="start" color="light" size="large">
      <ion-text color="primary">Conferma</ion-text>
    </ion-button> 
  </div>
</ion-content>