<ion-content class="backgrounds">
  <ion-card>
    <div>
      <div class="logo"></div>
      <div align="center">
        <ion-text class="textTitleBIG">
          AnswerOverFlow
        </ion-text>
      </div>
    </div>
    <ion-item >
      <ion-label fixed>
        <ion-icon name="person">
        </ion-icon>
      </ion-label >
      <ion-input [(ngModel)]="nome" placeholder="Nome*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>
        <ion-icon name="person">
        </ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="cognome" placeholder="Cognome*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="email" placeholder="E-mail*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>
        <ion-icon name="happy"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="username" placeholder="Username*"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label  fixed>
        <ion-icon name="key"></ion-icon>
      </ion-label>
      <ion-input  type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="password" placeholder="Password*">
      </ion-input>
      <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label fixed>
        <ion-icon name="key"></ion-icon>
      </ion-label>
      <ion-input type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="confermapassword"
        placeholder="Conferma Password*">
      </ion-input>
      <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label fixed>
        <ion-icon name="person">
        </ion-icon>
      </ion-label>
      <ion-textarea [(ngModel)]="bio" placeholder="Inserisci una biografia (potrai modificarla in qualunque momento)"></ion-textarea>    </ion-item>
    <ion-item>
      <ion-label>
      <ion-text>Cliccando su "Registrati" accetti i </ion-text>
      <ion-text (click)="termini()" color="primary">termini</ion-text>
    </ion-label>
    </ion-item>
    <div>
      <ion-button expand="block" slot="start" color="light" size="large" (click)="postRegistrazione()">
        <ion-text color="primary">REGISTRATI</ion-text>
      </ion-button>
    </div>
    <div>
      <ion-button expand="block" slot="start" color="light" size="large">
        <ion-text (click)="login()" class="textTitleSmall">Sono già registrato</ion-text>
      </ion-button>
    </div>
  </ion-card>
</ion-content>