<ion-content padding fixed class="bg-class" id="fixed">

  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <div>
    <div class="logo"></div>
  </div>

  <div align="center">
    <ion-text fixed class="textTitleBIG">
      AnswerOverFlow
    </ion-text>
    <br>
    <br>
  </div>
  <ion-card fixed>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="person">
        </ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="nome" placeholder="Nome*"></ion-input>
    </ion-item>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="person">
        </ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="cognome" placeholder="Cognome*"></ion-input>
    </ion-item>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="mail" id="mailIcon"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="email" placeholder="E-mail*" (ionChange)="checkForEmail($event['detail']['value'])"></ion-input>
    </ion-item>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="happy" id="usernameIcon"></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="username" placeholder="Username*" (ionChange)="checkForUser($event['detail']['value'])"></ion-input>
    </ion-item>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="key"></ion-icon>
      </ion-label>
      <ion-input type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="password" placeholder="Password*">
      </ion-input>
      <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon>
    </ion-item>
    <ion-item fixed>
      <ion-label fixed>
        <ion-icon name="key"></ion-icon>
      </ion-label>
      <ion-input type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="confermapassword"
        placeholder="Conferma Password*">
      </ion-input>
      <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Cliccando su "Registrati" accetti i </ion-text>
        <ion-text (click)="terminiAlert()" color="primary">termini</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-grid fixed class="grid">
    <div>
      <ion-button expand="block" slot="start" color="primary" size="large" (click)="checkFields()">
        Prosegui
      </ion-button>
    </div>
    <div>
      <ion-label>
        <ion-text (click)="login()" class="textTitleSmall"><u>Accedi</u></ion-text>
      </ion-label>
    </div>
  </ion-grid>

</ion-content>