.textButton {
    color: #1b6dd8
  }


.textTitleMockUp {
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}


.normalText {
    
    font-size: 1rem;
    color: rgb(34, 30, 30);
    text-align: justify;

} 


.centro {
 
    width: 200px;
    display:block;
    margin: 0px auto;
    text-align:center;
   
}

    .teamTitle{
        font-size: 2rem;
        color: #97a9c5;
        text-align: center
    }

      
ion-card{

    align-content: center;
    align-items: center;
    text-align: center;
    }
    
    a{

      margin-top: 10px;}


