<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    <ion-button slot="start" color="light">
      <ion-icon name="chevron-back-outline" color="primary" slot="start"></ion-icon>
      <ion-text color="primary">Indietro</ion-text>
   </ion-button>
   <ion-title class="textTitleMockUp">Informazioni applicazione</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="backgroundSecondaryItem" >
<ion-text class="normalText">
  <p>
      -inserire informazioni app-  

 
  </p>
</ion-text>

</ion-content> 