<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    <ion-button slot="start" expand="block" fill="clear" color="light"  (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
   <ion-title class="textTitleMockUp">Informazioni</ion-title>
   </ion-toolbar>
</ion-header>

<p></p>

<ion-content class="background">
  
  <ion-label >
  <img src="assets/icon/logo.png"  vspace=”300″ class="centro">
</ion-label>
<pre></pre>
 <!-- <ion-col style="font-size:42px"></ion-col> -->


 <ion-item class="background">
  
  AnswerOverflow si tratta di un'applicazione che semplifica lo scambio di cultura e opinioni
  tra gli utenti, permettendo loro di pubblicare domande o sondaggi di qualsiasi categoria 
  con un timer che garantisce una immediata risposta da parte della community.<br>
  All'utente sarà data la possibilità di scegliere la miglior risposta e di inviare un feedback
  per ogni risposta che risulti utile, in modo da garantire l'affidabilità delle risposta e di
  chi la scrive.<br>
  Inoltre  sarà anche possibile instaurare un canale di comunicazione privato tra utenti.<br> 
  Per ulteriori informazioni vi invitiamo a vedere il video prosentazione cliccando sul 
  link in basso; inoltre in basso sono presenti i profili instagram dei realizzatori dell'app.<br>
 </ion-item>





 <ion-grid>

  <ion-col style>
    <a href="https://biteable.com/watch/answeroverflow-2470585">Video presentazione</a>.
  </ion-col>

 </ion-grid>

 <ion-col style="font-size:128px"> </ion-col>


<ion-card class= "teamTitle" >TEAM DI SVILUPPO
<h1>
<a href="https://github.com/MrJo1996/AnswerOverFlow.git" style="font-size: medium;">Repository progetto</a>.</h1>

</ion-card>
 

<ion-card >MANAGER
  </ion-card>


<ion-grid>
    <ion-row>
      <ion-col >
        <div>

          <ion-text class="centerText">Danilo Sprovieri</ion-text><br>
          <a href="https://www.instagram.com/danilosprovieri/">
          <img src="assets/icon/profilo.jpg" class="immagine"></a>
        
        </div>
      </ion-col>
      <ion-col >
        <div>

          <ion-text class="centerText">Jonathan Drini</ion-text><br>
          <a href="https://www.instagram.com/jona96it/">
          <img src="assets/icon/profilo.jpg" class="immagine"> </a>
        
        </div>

      </ion-col>
      <ion-col >
        <div>
          <ion-text class="centerText"> Michela Patullo</ion-text><br>
          <a href="https://www.instagram.com/mikela_patullo/">
            <img src="assets/icon/profilo.jpg" class="immagine"> </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card >PROGRAMMATORI  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        
        <div>
          <ion-text class="centerText"> Andrea Tosto</ion-text><br>
          <a href="https://www.instagram.com/andreatosto__/">
            <img src="assets/icon/profilo.jpg" class="immagine"> </a>
  
            
        </div>
        
      </ion-col>
      <ion-col >
        
        <div>
          <ion-text class="centerText"> Christian Peluso</ion-text><br>
          <a href="https://www.instagram.com/cristian_conlah/">
            <img src="assets/icon/christian.jpg" class="immagine"> </a>
        </div>

      </ion-col>
      <ion-col>
        
        <div>
          <ion-text class="centerText">Davide Russo</ion-text><br>
          <a href="https://www.instagram.com/daviderussooo/">
            <img src="assets/icon/profilo.jpg"class="immagine"> </a>
         </div>

      </ion-col>
    </ion-row>
  
    <ion-row>

      <ion-col>
        
        <div>
          <ion-text class="centerText"> Francesco Iafigliola</ion-text><br>
          <a href="https://www.instagram.com/frankiafi/">
            <img src="assets/icon/profilo.jpg"class="immagine" > </a>
        </div>

      </ion-col>
      <ion-col>
        
        <div>
          <ion-text class="centerText">Mariano Buttino</ion-text><br>
          <a href="https://www.instagram.com/mariano_buttino/">
            <img src="assets/icon/mariano.jpg"class="immagine" > </a>
        </div>

      </ion-col>
      <ion-col >
        
        <div>
          <ion-text class="centerText">Mattia Iannone</ion-text><br>
          <a href="https://www.instagram.com/iannonss98/">
            <img src="assets/icon/mattia.jpg" class="immagine"> </a>
        </div>

      </ion-col>
     
    </ion-row>

    <ion-row>
      
      <ion-col>
        
        <div>
          <ion-text class="centerText">Luca Codipietro</ion-text><br>
          <a href="https://www.instagram.com/cod_j_/">
            <img src="assets/icon/profilo.jpg" class="immagine"> </a>
        </div>

      </ion-col>
      <ion-col>
        
        <div>

          <ion-text class="centerText">Saverio Di Carlo</ion-text><br>
          <a href="https://www.instagram.com/saverio_dicarlo/">
            <img src="assets/icon/saverio.jpg" class="immagine"> </a>
        </div>

      </ion-col>
      <ion-col >
        
        <div>
          <ion-text class="centerText">Simone Cassetta</ion-text><br>
          <a href="https://www.instagram.com/sim_tape/">
            <img src="assets/icon/profilo.jpg" class="immagine"> </a>
        </div>

      </ion-col>

    </ion-row>

    
    <ion-row>
      
      <ion-col>
        
        <div>
          <ion-text class="centerText">Simone Mucci</ion-text><br>
          <a href="https://www.instagram.com/mucci_s/">
            <img src="assets/icon/profilo.jpg" class="immagine" > </a>
        </div>

      </ion-col>
      <ion-col>
        
        <div>
          
        </div>

      </ion-col>
      <ion-col >
        
        <div>
           
        </div>

      </ion-col>

    </ion-row>


  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;">
    <ion-fab-button size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content> 