.textButton {
    color: #1b6dd8
  }


.textTitleMockUp {
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}


.normalText {
    
    font-size: 1rem;
    color: rgb(34, 30, 30);
    text-align: justify;

} 