<ion-toolbar class="backgroundsSecondaryItem">

  <ion-button slot="start" expand="block" fill="clear" class="msg-btn" (click)="goBack()">
    <ion-icon slot="icon-only" name="arrow-back-outline" color="primary"></ion-icon>
  </ion-button>

  <ion-title class="textTitle" class="ion-text-center">Modifica Sondaggio</ion-title>

  <ion-button slot="end" expand="block" fill="clear" class="msg-btn" (click)="popupConfermaModificheSondaggio()">
    <ion-icon slot="icon-only" name="checkmark-sharp" color="success"></ion-icon>
  </ion-button>
</ion-toolbar>

<ion-content class="backgrounds">
  <ion-card>
    
    <ion-item color="light">
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Titolo</ion-label>
      <ion-textarea readonly placeholder={{titoloView}} color="medium" (click)="popupModificaTitolo()"></ion-textarea>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Timer</ion-label>
      <ion-input readonly placeholder={{timerView}} color="medium" (click)="showTimerPicker()"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="alert-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Il tuo sondaggio scadrà tra</ion-label>
      <ion-input id="timeLeft" readonly placeholder=" " color="medium" ></ion-input>
    </ion-item>

  </ion-card>

</ion-content>