<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
    <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
   
    <ion-title class="textTitle" class="ion-text-center" style="text-align: center; margin-right: 15%;">Statistiche</ion-title>
  
   
  </ion-toolbar>
</ion-header>
<ion-content  style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">

<ion-segment [(ngModel)]="segment" >
  <ion-segment-button value="Domande" (click)="carica()">
    <ion-label>Domande</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Risposte" (click)="caricaR()">
    <ion-label>Risposte</ion-label>
  </ion-segment-button>
  <ion-segment-button value="LikeDislike" (click)="caricaLD()">
    <ion-label>Like&Dislike</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-card-subtitle>
<ion-textarea readonly *ngIf="check===false" class="ion-text-center">
  Cliccando su Domande/Risposte/Like&Dislike hai la possibilità di scoprire le statistiche che stai cercando!
</ion-textarea>
</ion-card-subtitle>

<div [ngSwitch]="segment" (ionChange)=" segmentChanged($event)" >
  



  <div *ngSwitchCase= "'Domande'">
  <ion-card color="primary">
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Domande</ion-card-subtitle>
      <ion-card-title>Categorie con maggiore attività di domande</ion-card-title>
    </ion-card-header>
    <ion-textarea readonly *ngIf="num_domandeTOP===undefined" class="ion-text-center">
      Non esistono domande relative all'utente</ion-textarea>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  </ion-card>
  

  <ion-card color="primary">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Domande</ion-card-subtitle>
        <ion-card-title>Domande totali</ion-card-title>
      </ion-card-header>
      <ion-textarea readonly *ngIf="num_domandeTot[0]===undefined" class="ion-text-center">
        Non esistono domande relative all'utente </ion-textarea>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    </ion-card>
</div>
   
<div *ngSwitchCase= "'Risposte'">
    <ion-card  color="primary">
      <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Risposte</ion-card-subtitle>
        <ion-card-title>Categorie con maggiore attività di risposte</ion-card-title>
      </ion-card-header>
      <ion-textarea readonly *ngIf="num_risposteTOP===undefined" class="ion-text-center">
        Non esistono risposte relative all'utente</ion-textarea>
      <ion-card-content>
        <canvas #barChart2></canvas>
      </ion-card-content>
    </ion-card>
    </ion-card>
  
   
    <ion-card color="primary">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Risposte</ion-card-subtitle>
          <ion-card-title>Risposte totali</ion-card-title>
        </ion-card-header>
        <ion-textarea readonly *ngIf="num_risposteTot[0]===undefined" class="ion-text-center">
          Non esistono risposte relative all'utente</ion-textarea>
        <ion-card-content>
          <canvas #doughnutCanvas2></canvas>
        </ion-card-content>
      </ion-card>
      </ion-card>
  </div>



    <div *ngSwitchCase= "'LikeDislike'">
     
    <ion-card color="primary">
    <ion-card>
        <ion-card-header>
          
          <ion-card-title>Like & Dislike</ion-card-title>
        </ion-card-header>
        <ion-textarea readonly *ngIf="(numLIKE[0]===undefined && numDISLIKE[0]===undefined)" class="ion-text-center">
          Non esistono valutazioni relative all'utente</ion-textarea>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
    </ion-card>
      </ion-card>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start"   slot="fixed" style="opacity: 70%; ">
    <ion-fab-button  size="small" (click)="openMenu()"  color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%; "></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

