<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
   
    <ion-button  slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
   
    <ion-title style="font-size: x-large; text-align: center;"><b>Statistiche</b></ion-title>
  
   
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Domande</ion-card-subtitle>
      <ion-card-title>Categorie con maggiore attività di domande</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Domande</ion-card-subtitle>
        <ion-card-title>Domande totali</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Risposte</ion-card-subtitle>
        <ion-card-title>Categorie con maggiore attività di risposte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #barChart2></canvas>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Risposte</ion-card-subtitle>
          <ion-card-title>Risposte totali</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas2></canvas>
        </ion-card-content>
      </ion-card>
  




    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Domande e Risposte</ion-card-subtitle>
          <ion-card-title>Attività totale ultimi 12  mesi</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #lineCanvas></canvas>
        </ion-card-content>
      </ion-card>
  
</ion-content>
