<ion-app>

  <div *ngIf="showSplash" class="splash">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <ion-split-pane contentId="main-content">
   
    <ion-menu contentId="main-content" type="overlay">
      
      <ion-content>
<div style="background-color: var(--ion-background-color);  width: 100%; height: 90px; border-radius: 0px 0px 144px 144px; padding-top: 5px;" >
          <ion-img id=logo src = "/assets/img/logo AnswerOverFlow.png" style="height: 80px; width: 80px; margin:0% 35% ;" class="ion-align-self-center"></ion-img>
</div>

        <ion-list id="inbox-list">
          

          <ion-card style="border-radius: 27px; margin-bottom: 10%;">
            <ion-toolbar style="align-items: center;">
              <ion-avatar style="width: 50px; height: 50px; margin-left: 5px;  margin-right: 10px;" slot="start"
                (click)="goToProfile()">
                <img
                  src="https://i.guim.co.uk/img/static/sys-images/Media/Pix/pictures/2002/01/17/BinLaden1.jpg?width=300&quality=85&auto=format&fit=max&s=b17c1c5deb5f0b1f99e1149226e7ab8a">
              </ion-avatar>

              <ion-label style="font-size: 1.2rem;">{{dataService.getNome()}} </ion-label>
              <ion-label style="font-size: 1.2rem;">{{dataService.getCognome()}}</ion-label><br>
              <ion-label style="padding-top: 5px;">{{dataService.getUsername()}}</ion-label>

            </ion-toolbar>
          </ion-card>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item *ngIf="p.view" (click)="switch(i,'app')" routerDirection="root" lines="none" detail="false"
              [class.selected]="selectedIndex === i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

            <!-- <ion-label *ngIf="p.title === 'Chat'"><br></ion-label> -->

          </ion-menu-toggle>

          <div style="margin-top: 15%;">
            <ion-menu-toggle auto-hide="false" *ngFor="let page of accountPages; let id = index">
              <ion-item *ngIf="page.view" (click)="switch(id,'account')" routerDirection="root" lines="none"
                detail="false" [class.selected]="selectedIndexAccount == id">
                <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
                <ion-label>{{ page.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
        </ion-list>


        <ion-button (click)="goToInfo()" size="small" expand="full"
          style="margin-top: 5rem; position: absolute; bottom: 20px;" shape="round" strong="false" color="light">
          <ion-icon slot="start" [ios]="'information-circle' + '-outline'" [md]="'information-circle' + '-sharp'">
          </ion-icon>
          Info
        </ion-button>

      </ion-content>




    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>