.alarm_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5
}

.thumb_up_style{
    //padding-right: 0.5rem;
    font-size: 1.5rem;
    color: green;
}

.thumb_down_style{

    font-size: 1.5rem;
    color: red;
}


.buttonLikes{
    font-size: 0.5rem;

    
}


.ribbon_style{
    padding-right: 0.5rem;
    font-size: 2rem;
    color: gold;
}

.ribbon_style_not_pushed{
    padding-right: 0.5rem;
    font-size: 2rem;
    color: #2a2a2a;
}

.icons_generic_style{
    font-size: 1.5rem;

}

.heat_checked_style{
    color : red;

}

.calendar_icon_style{
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5
}

.username_text_style{
    font-size: 1.2rem;
    color: #97a9c5
    //color: #08377c


}

.icon-avatar{
    max-width: 50px; 
    max-height: 50px;
    margin-right: 7px;
    padding: 3px;


}

.description_text{
    font-size: 0.8rem;
    color: #97a9c5

}

.icon_list_style{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5


}

.msg-btn{
    --padding-start: 0.5em;
    --padding-end: 0.5em
}

.message-input{
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    //background-color: var(--ion-color-light); 
    border-bottom: solid 0.5px var(--ion-color-medium-shade);
    
}
