<ion-header>
  <ion-toolbar>
    <ion-button  (click)="goback()" slot="start" expand="block" fill="clear" class="msg-btn">
      <ion-icon  color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
      <ion-title *ngIf="currentMailUser===domandaMailUser">Dettagli della tua domanda</ion-title>
      <ion-title  *ngIf="currentMailUser!==domandaMailUser">Dettagli della domanda</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class = "backgrounds">

  <ion-card class = "backgrounds">    
    <ion-card-header>
      <ion-toolbar class="backgrounds">

            <ion-icon   class = "alarm_style" name="alarm-outline" slot= "start"></ion-icon>
            <ion-label  class = "textTitle">{{timerView}}</ion-label>
            <ion-button slot="end" expand="block" *ngIf="currentMailUser===domandaMailUser" (click) = "popUpEliminaDomanda()" fill="clear">
              <ion-icon name="trash-sharp" color="primary" class = "icons_generic_style"></ion-icon>
            </ion-button>
           <ion-button slot="end" *ngIf="currentMailUser===domandaMailUser" (click) ="  goModificaDomanda() " expand="block" fill="clear">
              <ion-icon name="hammer-sharp" color="primary" class = "icons_generic_style"></ion-icon>
           </ion-button>
         <!--    <ion-label slot="end" class="textTitleSMALL">  Risposte totali: 
              <ion-label slot="end" class="textTitleSMALL">2</ion-label>
            </ion-label> -->
            
      </ion-toolbar>
      <ion-toolbar class="backgrounds" *ngIf="currentMailUser!==domandaMailUser">
        <ion-avatar  slot="start" class="icon-avatar" >
          <img src="https://i.ytimg.com/vi/mCf6UGT3HrA/maxresdefault.jpg">
        </ion-avatar>
        <ion-label class = "username_text_style">{{profiloUserDomanda.username}}</ion-label>

      </ion-toolbar>
      <ion-card-title class = "textTitleBIG"> {{titoloView}}</ion-card-title>
    </ion-card-header>



    <ion-card-content>
        <p class= "textSimple">{{descrizioneView}}</p>
     
          <ion-toolbar>
              <ion-icon name="calendar-outline" slot = start class = "calendar_icon_style"></ion-icon>
              <ion-label class= "description_text" slot = "start" >{{dataeoraView}}</ion-label>
              <ion-icon name="list" slot = "start"  class = "icon_list_style"></ion-icon>
              <ion-label class= "description_text" slot = "start" >categoriaaaa</ion-label>
               

          </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-label *ngIf="risposte===NULL" class = "textSimple">Non ci sono ancora risposte per questa domanda</ion-label>

        <ion-card *ngFor="let risposta of risposte" class = "backgrounds">    
          <ion-card-header>
            <ion-toolbar class="backgrounds">
              <ion-avatar  slot="start" class="icon-avatar" >
                <img src="https://avatars3.githubusercontent.com/u/14333644?s=460&u=c6cf7b831fd7afd92292677dc5543c858e1e05a8&v=4">
              </ion-avatar>
              <ion-label class = "username_text_style">{{risposta.cod_utente}}</ion-label>

              <ion-icon name="ribbon" *ngIf="risposta.codice_risposta===cod_preferita"  class="ribbon_style" slot="end"></ion-icon>
              <ion-label slot = "end" class = "textTitleSMALL">{{risposta.num_like}}</ion-label>
              <ion-icon name="thumbs-up-sharp" class="thumb_up_style" slot= "end" ></ion-icon>

              <ion-label slot = "end" class = "textTitleSMALL">{{risposta.num_dislike}}</ion-label>
              <ion-icon name="thumbs-down-sharp" class="thumb_down_style" slot= "end" ></ion-icon>

            </ion-toolbar>
          </ion-card-header>
          <ion-card-content >
              <!-- <p class= "textSimple">{{risposta.descrizione}}</p> -->
              <p readonly class= "textSimple" (click)="clickRisposta(risposta.codice_risposta)">{{risposta.descrizione}}</p>
              <ion-toolbar class="backgrounds">
    
                <ion-icon name="calendar-outline" slot="start" class = "calendar_icon_style" ></ion-icon>
                <ion-label class= "description_text"  slot="start" ></ion-label>
            
              
              <ion-button  slot="end" expand="block" fill="clear">
                <ion-icon color="white" class="icons_generic_style" name="heart-outline" ></ion-icon>
              </ion-button>
  
            </ion-toolbar>
              
          </ion-card-content>

          
        </ion-card>
</ion-content>    

