<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="btnClass">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-searchbar *ngIf= "keywordSearch" show-cancel-button="never" placeholder="Ricerca..."  [(ngModel)]="keywordToSearch"
      (search)="ricerca($event)" > 
    </ion-searchbar>

    <ion-searchbar *ngIf= "globalSearch" show-cancel-button="never" placeholder="Ricerca..." disabled = "true"  > 
    </ion-searchbar>
  </ion-toolbar>

  <ion-segment value="keyword">
    <ion-segment-button value="keyword" (click)="clickKeywordSearch()">
      <ion-label>Ricerca keywords</ion-label>
    </ion-segment-button>
    <ion-segment-button value="globale" (click)="clickGlobalSearch()">
      <ion-label>Ricerca globale</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- TIPO -->
    <ion-card class="backgrounds">
      <ion-list>
        <form [formGroup] = "radioGroup">
        <ion-radio-group formControlName = "group" > 
          <ion-list-header>
            <ion-label><u><strong>Tipo</strong></u></ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Domande</ion-label>
            <ion-radio checked = "false" slot="start" (click)="clickDomanda()" ></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Sondaggi</ion-label>
            <ion-radio checked = "false" slot="start" (click)="clickSondaggio()" ></ion-radio>
          </ion-item>

          <div *ngIf="globalSearch == false">

            <ion-item>
              <ion-label>Utenti</ion-label>
              <ion-radio checked = "false" slot="start" (click)="clickUtente()" ></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </form>
      </ion-list>
    </ion-card>

    <div *ngIf="!utentiBtn">

      <!-- CATEGORIA -->
      <ion-card class="backgrounds">
        <ion-list>
          <form>
          <ion-list-header >
            <ion-label ><u><strong>Categoria</strong></u></ion-label>
          </ion-list-header>
          <ion-item lines="none" (click)="showCategoriaPicker()" class="itemClass">
            <ion-label>
              <ion-icon name="file-tray-full-outline" slot="start" style="width: 25px; height: 25px;"></ion-icon>
            </ion-label>
            <ion-text *ngIf="[categoriaView]==''" class="placeholder">Categoria</ion-text>
            <ion-text *ngIf="[categoriaView]!=''" class="text">{{categoriaView}}</ion-text>
            <ion-icon class="inner" name="chevron-down-outline"></ion-icon>
          </ion-item>
        </form>
        </ion-list>
      </ion-card>

      <!-- STATO -->
      <ion-card class="backgrounds">
        <ion-list>
          <form [formGroup] = "formStato">
          <ion-list-header>
            <ion-label><u><strong>Stato</strong></u></ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Chiuso</ion-label>
            <ion-checkbox formControlName = "closed" (click)="toggleClose($event)" slot="end"></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>Aperto</ion-label>
            <ion-checkbox formControlName = "open"(click)="toggleOpen($event)" slot="end"></ion-checkbox>
          </ion-item>
        </form>
        </ion-list>
      </ion-card>

    </div>

    <ion-item (click)="ricerca()" style="margin-top: 10px;" lines="none" class="itemClass">
      <ion-label class = "centerText" >Avvia ricerca
      </ion-label>
      
    
  </ion-item>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;">
    <ion-fab-button size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>