.profilePicture {
    color: rgba(115, 154, 204, 0.562) ;
    font-size: 128px;
    
    
    margin-left: 33%;
    margin-right: 50%;
    align-items: center;
}
.textTitle {
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}

.ion-button{
    margin-left: 33%;
    margin-right: 50%;

    align-content: center;

}
