.profilePicture {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textTitle {
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}

.ion-button{
    margin-left: 30%;
    margin-right: 50%;

    align-items: center;


}



.userLogged{

margin-top: 60px;

}


.logo-btn {
   
      width: 2em;
      height: 2em;
   }