<ion-header>

 
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title  *ngIf="userProfileId === 'undefined'" style="font-size: 1.5rem; text-align: center;"><b>Account</b></ion-title>
    <ion-title  *ngIf="userProfileId !== 'undefined'" style="font-size: 1.5rem; text-align: center;"><b>Profilo utente</b></ion-title>

    
    <ion-button *ngIf="userProfileId === 'undefined'" slot="end"  expand="block" fill="clear" (click)="goToSettingProfile()">
      <ion-icon name="hammer" slot="icon-only"></ion-icon>
    </ion-button>
   
    <ion-button *ngIf="userProfileId !== 'undefined'" slot="end" expand="block" fill="clear" (click)="goToHome()" class="msg-btn" >  
    <ion-img  slot="end" class = "logo-btn" src = "/assets/img/logo AnswerOverFlow.png"></ion-img>    
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-content *ngIf="profilo" style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">

    <ion-card>
      <ion-icon class="profilePicture" name="person-circle-outline"></ion-icon>
      
      <ion-item color="light" >
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Username</ion-label>
        <ion-text>{{profilo?.username}}</ion-text>
        <ion-button *ngIf="userProfileId !== 'undefined'" fill="clear" slot="end" (click)="showAlertView()"><ion-icon style="width: 25px; height: 25px;" name="alert-circle-outline" color="danger"></ion-icon> </ion-button>
      </ion-item>

     <!--  <ion-item color="light">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Email</ion-label>
        <ion-text>{{profilo?.email}}</ion-text>
      </ion-item>
 -->
      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Nome</ion-label>
        <ion-text style="margin: 5px 0px;">{{profilo?.nome}}</ion-text>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-text>{{profilo?.cognome}}</ion-text>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Bio</ion-label>
        <ion-text style="margin: 5px 0px;">{{profilo?.bio}}</ion-text>
      </ion-item>

    </ion-card>


    <ion-grid style="margin-top: 20px;" *ngIf="userProfileId !== 'undefined'">
      <ion-row>
        <ion-col style="align-items: center !important;">
    <ion-button expand = "block" color="light"  (click)="goToChat()">
      <ion-icon slot ="start" name="chatbubble-ellipses-outline"></ion-icon>
      Invia messaggio</ion-button>
        </ion-col>
      <ion-col>
    <ion-button  expand = "block" color="primary"  (click)="stats()">
      <ion-icon  slot="start" name="analytics"></ion-icon>
      Statistiche</ion-button>
      </ion-col>
    </ion-row>
     <!--  <ion-row>
        <ion-button size = "small" style="width: 100%;" (click)="showAlertView()" color="danger">Segnala
          Utente</ion-button>
      </ion-row> -->
    </ion-grid>

    <ion-button  *ngIf="userProfileId === 'undefined'"  expand = "block" color="primary"  fill ="outline" (click)="stats()" style="margin-top: 20px;">
      <ion-icon  slot="start" name="analytics"></ion-icon><b>
      Statistiche</b></ion-button>


      <ion-fab vertical="bottom" horizontal="start"   slot="fixed" style="opacity: 70%; ">
        <ion-fab-button  size="small" (click)="openMenu()"  color="light">
          <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%; "></ion-icon>
        </ion-fab-button>
      </ion-fab>


  </ion-content>

</ion-content>