<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title style="font-size: 1.5rem; text-align: center;"><b>Visualizza profilo</b></ion-title>

    <!--   -->
    <ion-button *ngIf="userProfileId !== 'undefined'" slot="end"  expand="block" fill="clear" class = "tool-btn" >
      <ion-icon name="hammer-outline" slot="icon-only"></ion-icon>
    </ion-button>
   
    <ion-button *ngIf="userProfileId === 'undefined'" slot="end" expand="block" fill="clear" (click)="goToHome()" class="msg-btn" >  
    <ion-img  slot="end" class = "logo-btn" src = "/assets/img/logo AnswerOverFlow.png"></ion-img>    
    </ion-button>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content *ngIf="profilo" class="backgrounds" >


    <ion-card>
      <ion-icon class="profilePicture" name="person-circle-outline"></ion-icon>


      <ion-item color="light" >
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Username</ion-label>
        <ion-text>{{profilo?.username}}</ion-text>

      </ion-item>

     <!--  <ion-item color="light">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Email</ion-label>
        <ion-text>{{profilo?.email}}</ion-text>
      </ion-item>
 -->
      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Nome e Cognome</ion-label>
        <p style="margin: 5px 0px;">{{profilo?.nome}} {{profilo?.cognome}}</p>
      </ion-item>

    <!--   <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-text>{{profilo?.cognome}}</ion-text>
      </ion-item> -->

      <ion-item color="light">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Bio</ion-label>
        <ion-text>{{profilo?.bio}}</ion-text>
      </ion-item>

    </ion-card>


    <ion-grid style="margin-top: 20px;">
      <ion-row>
        <ion-col style="align-items: center !important;">
    <ion-button expand = "block" color="light"  (click)="goToChat()">
      <ion-icon slot ="start" name="chatbubble-ellipses-outline"></ion-icon>
      Invia messaggio</ion-button>
        </ion-col>
      <ion-col>
    <ion-button  expand = "block" color="primary"  (click)="stats()">
      <ion-icon  slot="start" name="analytics"></ion-icon>
      Statistiche</ion-button>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-button size = "small" style="width: 100%;" (click)="showAlertView()" color="danger">Segnala
          Utente</ion-button>
      </ion-row>
    </ion-grid>


  </ion-content>

</ion-content>