<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">

    <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

    <ion-title style="font-size: x-large; text-align: center;"><b>Visualizza profilo</b></ion-title>

    <!--   -->
    <ion-button *ngIf="userId !== userProfileId" slot="end" expand="block" fill="clear" (click)="goToHome()" class="msg-btn" >  
    <ion-img  slot="end" class = "logo-btn" src = "/assets/img/logo AnswerOverFlow.png"></ion-img>    
    </ion-button>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-content *ngIf="profilo" class="backgrounds">


    <ion-card>
      <ion-icon class="profilePicture" name="person-circle-outline"></ion-icon>


      <ion-item color="light">
        <ion-icon name="happy-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Username</ion-label>
        <ion-text>{{profilo?.username}}</ion-text>

      </ion-item>

      <ion-item color="light">
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Email</ion-label>
        <ion-text>{{profilo?.email}}</ion-text>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Nome</ion-label>
        <ion-text>{{profilo?.nome}}</ion-text>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-text>{{profilo?.cognome}}</ion-text>
      </ion-item>

      <ion-item color="light">
        <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Bio</ion-label>
        <ion-text>{{profilo?.bio}}</ion-text>
      </ion-item>

    </ion-card>

    <ion-button *ngIf="userId !== userProfileId" color="light" class="ion-button"  (click)="goToProfile()">Invia messaggio</ion-button>
    <ion-button color="primary" class="ion-button" (click)="stats()">Visualizza statistiche</ion-button>
    <ion-button *ngIf="userId !== userProfileId" (click)="showAlertView()" color="danger" class="ion-button">Segnala
      Utente</ion-button>


<!--       <ion-textarea  rows = 5 placeholder="Tap here"   [(ngModel)]="note" name="note" autocomplete="on" autocorrect="on"></ion-textarea>  --> 
  </ion-content>

</ion-content>