.buttonClass {
    font-size: 15px;
    text-align: center;
}

.textClass{
    font-size: 22px;
}

.areaClass{
border-radius: 5px;
width: 100%;
padding: 15;
}

.itemClass{

border-radius: 10px;
background-color: var(--ion-color-primary);

}
