<ion-header>
    <ion-toolbar class="backgroundsSecondaryItem">

        <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="msg-btn">
            <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>

        <ion-title class="textTitle">NUOVA DOMANDA</ion-title>

        <ion-button slot="end" expand="block" fill="clear" (click)="checkField()" class="msg-btn">
            <ion-icon color="success" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="backgrounds">
        <ion-card-content>

            <ion-card-title class="textTitleBIG">Titolo:</ion-card-title>
            <ion-textarea [(ngModel)]="titolo" style="border-radius: 7px;"
                placeholder="  Perchè i cani si mordono la coda?" rows="3" class="backgroundsSecondaryItem textSimple">
            </ion-textarea>

            <br>

            <ion-card-title class="textTitleBIG">Descrizione:</ion-card-title>
            <ion-textarea [(ngModel)]="descrizione" style="border-radius: 7px;"
                placeholder="  Perchè lo fanno così spesso?" rows="10" class="backgroundsSecondaryItem textSimple">
            </ion-textarea>

            <br>

            <ion-grid>

                <ion-item lines="none" (click)="showCategoriaPicker()" class="itemClass">
                    <ion-label>
                        <ion-icon name="bookmark-outline" slot="start"></ion-icon>
                    </ion-label>
                    <ion-text *ngIf="[categoriaView]==''" class="placeholder">Categoria</ion-text>
                    <!--Questo serve a dare un placeholder all'ionItem senza aver bisogno dell'ion-input-->
                    <ion-text *ngIf="[categoriaView]!=''" class="text">{{categoriaView}}</ion-text>
                    <ion-icon class="inner" name="caret-down-outline"></ion-icon>
                </ion-item>

                <div>

                    <ion-item style="margin-top: 10px;" lines="none" (click)="showTimerPicker()" class="itemClass">
                        <ion-label>
                            <ion-icon name="alarm-outline" slot="start"></ion-icon>
                        </ion-label>
                        <ion-text *ngIf="[timerView]==''" class="placeholderClass">Timer</ion-text>
                        {{timerView}}
                        <ion-icon class="inner" name="caret-down-outline"></ion-icon>

                    </ion-item>
                </div>

                <ion-row style="justify-content: center; padding-top: 15px;">
                    <ion-label>
                        <ion-text (click)="switchCategoria()" color="primary">Non hai trovato la categoria che cercavi?
                        </ion-text>
                    </ion-label>
                </ion-row>

            </ion-grid>

        </ion-card-content>
    </ion-card>

</ion-content>