<ion-header>
    <ion-toolbar class="backgroundsSecondaryItem">

        <ion-button slot="start" expand="block" fill="clear" (click)="goBack()" class="btnClass">
            <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>

        <ion-title style="text-align: center;" class="textTitle">Nuova Domanda</ion-title>

        <ion-button slot="end" expand="block" fill="clear" (click)="checkField()" class="btnClass">
            <ion-icon color="success" slot="end" slot="icon-only" name="checkmark-sharp"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="backgrounds">
        <ion-card-content>

            <ion-card-title class="textTitleBIG">Titolo:</ion-card-title>
            <ion-textarea [(ngModel)]="titolo" style="border-radius: 7px; padding-left: 5px;"
                placeholder="  Inserisci qui un titolo.." rows="3" class="backgroundsSecondaryItem textSimple">
            </ion-textarea>

            <br>

            <ion-card-title class="textTitleBIG">Descrizione:</ion-card-title>
            <ion-textarea [(ngModel)]="descrizione" style="border-radius: 7px; padding-left: 5px;"
                placeholder="  Inserisci qui una descrizione.." rows="9" class="backgroundsSecondaryItem textSimple">
            </ion-textarea>

            <br>

            <ion-grid>

                <ion-item lines="none" (click)="showCategoriaPicker()" class="itemClass">
                    <ion-label >
                        <ion-icon name="file-tray-full-outline" slot="start" style="width: 25px; height: 25px;"></ion-icon>
                    </ion-label>
                    <ion-text *ngIf="[categoriaView]==''" class="placeholder">Categoria</ion-text>
                    <ion-text *ngIf="[categoriaView]!=''" class="text">{{categoriaView}}</ion-text>
                    <ion-icon class="inner" name="chevron-down-outline" ></ion-icon>
                </ion-item>

                <div>

                    <ion-item style="margin-top: 10px;" lines="none" (click)="showTimerPicker()" class="itemClass">
                        <ion-label >
                            <ion-icon name="alarm-outline" slot="start" style="width: 25px; height: 25px;"></ion-icon>
                        </ion-label>
                        <ion-text *ngIf="[timerView]==''" class="placeholder">Timer</ion-text>
                        {{timerView}}
                        <ion-icon class="inner" name="chevron-down-outline"></ion-icon>

                    </ion-item>
                </div>

                <ion-row style="justify-content: center; padding-top: 15px;">
                    <ion-label>
                        <ion-text (click)="goToCategoria()" color="primary">Non hai trovato la categoria che cercavi?
                        </ion-text>
                    </ion-label>
                </ion-row>

            </ion-grid>

        </ion-card-content>
    </ion-card>

</ion-content>