
.titleSize{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.textTitle{
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}

.normalText{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
}
  