
<ion-header>
  <ion-toolbar class=".backgroundsSecondaryItem">
   
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

  <ion-title  style="font-size: 1.5rem; text-align: center;"><b>Modifica password</b></ion-title>

  <ion-button  slot="end" expand="block" fill="clear" class="msg-btn" >  
    <ion-img  ></ion-img>    
    </ion-button>


  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content style="--background: url('/assets/img/provaBack.png') no-repeat center center / cover;">

  <ion-card color="backgrounds">
 
  

    <ion-grid fixed no-padding>

      
      <ion-row>
        <ion-col size="12" padding>
      <!--
          <ion-list margin-bottom>
            <ion-item>
              <ion-label color="dark" position="stacked">
                <span style="font-size:18px"><strong>Email
                :</strong></span></ion-label>
              <ion-input type="text" inputmode="text" placeholder="inserisci la mail*" [(ngModel)]="userId" ></ion-input>  
            </ion-item>
          </ion-list>     -->    


          <ion-list margin-bottom>
            <ion-item>
              <ion-label color="dark" position="stacked">
                <span style="font-size:18px"><strong>Nuova
                    password:</strong></span></ion-label>
                    <ion-input type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="password" placeholder="Password*">
                    </ion-input>
                    <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
                      isActive=true>
                    </ion-icon>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">
                <span style="font-size:18px"><strong>Conferma
                    password:</strong></span></ion-label>
                    <ion-input type="{{ !isActive? 'password' : 'text' }}" [(ngModel)]="confermapassword"
        placeholder="Conferma Password*">
      </ion-input>
      <ion-icon color="grey" slot="end" [name]="isActive?'eye':'eye-off'" item-right (click)="isActive=!isActive;"
        isActive=true>
      </ion-icon>
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

   <ion-button expand="block" color="light" class="ion-margin" (click)="popupModificaPassw()">

    <ion-text color="primary"> INVIO </ion-text>
  </ion-button>
  </ion-card>


</ion-content>