
<ion-header>
  <ion-toolbar class=".backgroundsSecondaryItem">
   
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>

  <ion-title class="textTitle">Modifica password</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card color="backgrounds">
 
    <div padding>
      <ion-text class="TextTitle"><strong>
        Inserisci nello spazio sottostante la password e invieremo la password modificata al tuo indirizzo mail!</strong>
      </ion-text>
    </div>

    <ion-grid fixed no-padding>

      
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-item>
              <ion-label color="dark" position="stacked">
                <span style="font-size:18px"><strong>Password
                    attuale:</strong></span></ion-label>
              <ion-input type="password" inputmode="text" placeholder="Password attuale"></ion-input>  
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>

  <ion-button class="btnInvio" expand="full" shape="round"  (click)="popupModificaPassw()">
    <ion-text> INVIO </ion-text>
  </ion-button>
  </ion-card>


</ion-content>