.backBtn{
    --padding-start: 0.5rem;
    --padding-end: 0.5rem
}

.textTitle{
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
    margin-left: -11%;
}

.titleSize{
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}

.normalText{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff
}

.linkText{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}