<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    <ion-title class="textTitle">Conferma recupero password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo"></div>
  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="titleSize">Abbiamo inviato una mail con una nuova password all'indirizzo da te specificato!</ion-card-title><p style="line-height: 0.5rem;"><br></p>
      <ion-card-subtitle (click)="goTo_login()" class="linkText" color="primary">Clicca qui per tornare alla pagina di login.</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
