<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    <ion-title class="textTitle">Proposta inviata con successo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo"></div>
  
  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="titleSize">GRAZIE!</ion-card-title><p style="line-height: 0.5rem;"><br></p>
      <ion-card-subtitle class="normalText">I nostri sviluppatori valuteranno al più presto la tua proposta.<p style="line-height: 0.5rem;"><br></p>
        <div class="riepText">Riepilogo dati inseriti</div>
        <div class="propText">Categoria selezionata: <span>{{cat_selezionata}}</span><br>
          La tua proposta: <span>{{proposta_confermata}}</span>
        </div>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="normalTextbold">E adesso?</ion-card-title><p style="line-height: 0.5rem;"><br></p>
      <ion-card-subtitle class="propTextCtr">Apri la sidebar cliccando sul pulsante in basso a sinistra e continua la navigazione nella nostra app scegliendo l'opzione che ti interessa!</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="opacity: 70%;">
    <ion-fab-button  size="small" (click)="openMenu()" color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>