.textTitle{
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
    margin-left: -11%;
}

.backBtn{
    --padding-start: 0.5rem;
    --padding-end: 0.5rem
}

.titleSize{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.normalText{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff
}

.normalTextbold{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff
}

.propText{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: start;
    color: #ffffff
}

.propTextCtr{
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff
}

.riepText{
    font-size: 1rem;
    font-weight: bold;
    text-align: start;
    color: #ffffff
}