<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    <ion-title class="textTitle">CONFERMA INVIO PROPOSTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo"></div>
  
  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="titleSize">GRAZIE!</ion-card-title>
      <ion-card-subtitle class="normalText">I nostri sviluppatori valuteranno al più presto la tua proposta.
        <div class="riepText"><br>Riepilogo dati inseriti</div>
        <div class="propText">Categoria selezionata: <span>{{cat_selezionata}}</span><br>
          La tua proposta: <span>{{proposta_confermata}}</span>
        </div>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="normalTextbold">Vuoi inserire comunque la tua domanda o il tuo sondaggio?</ion-card-title>
      <ion-card-subtitle class="propText"><br>Seleziona nella sidebar l'opzione che ti interessa oppure clicca su uno dei link sottostanti per essere reindirizzato!<br>
      - <ion-text (click)="goTo_insDomanda()" color="primary">Inserisci domanda</ion-text><br>
      - <ion-text (click)="goTo_insSondaggio()" color="primary">Inserisci sondaggio</ion-text><br>
      - <ion-text (click)="goTo_Home()" color="primary">Home</ion-text>   
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>