<ion-header class="backgroundsSecondaryItem">
  <ion-toolbar >
    <ion-icon expand="block" fill="clear" class="alarm_style" color="grey" slot="end" [name]="isActive?'close':'search'"
      item-right (click)="isActive=!isActive;" isActive=true></ion-icon>
    <ion-searchbar *ngIf="isActive===true" placeholder="Ricerca..." [(ngModel)]="keywordToSearch"
      (search)="ricerca($event)"></ion-searchbar>
    <ion-title class="textTitle" *ngIf="isActive!==true">ANSWEROVERFLOW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="switch === true">
  <ion-row>
    <ion-col>
  <ion-button fill ="outline" expand="block" color="black"  (click)="switch1_(switch)">Domande</ion-button>
    </ion-col>
    <ion-col>
  <ion-button fill ="outline" expand="block" color="light" (click)="switch2_(switch)">sondaggi</ion-button>
    </ion-col>
  </ion-row>
  <ion-title slot="fixed" class="textTitle">Ultime domande inserite</ion-title>
</div> 
<div *ngIf="switch !== true">

      <ion-row>
    <ion-col>
  <ion-button fill ="outline" expand="block" color="light" (click)="switch1_(switch)">domande</ion-button>
    </ion-col>
    <ion-col>
  <ion-button fill ="outline" expand="block" color="black" (click)="switch2_(switch)">sondaggi</ion-button>
    </ion-col>
</ion-row>
<ion-title slot="fixed" class="textTitle">Ultimi sondaggi inseriti</ion-title>
</div> 

  <div *ngIf="switch === true">
          <ion-card *ngFor="let domanda of domande_regolate, let i = index">
            <div>
              <div class="homebarup"></div>
            </div>
            <ion-card-header>
              <ion-item class="backgrounds">
                <ion-icon class="alarm_style" name="lock-open-outline" ></ion-icon>
                <ion-label class="textTitle2" >Domanda aperta</ion-label>
                <ion-icon class="alarm_style" slot="end" name="ellipsis-vertical" (click)="presentPopover($event,index1,domanda.cod_utente,domanda.codice_domanda)"></ion-icon>
              </ion-item>
              <ion-item class="backgrounds" *ngIf="currentMailUser!==domanda.cod_utente">
                <ion-avatar slot="start" class="icon-avatar">
                  <img src="{{profili_user_domande[i].avatar}}">
                </ion-avatar>
                <ion-label class="username_text_style" (click)="clickProfilo(domanda.cod_utente)">{{profili_user_domande[i].username}}
                </ion-label>

              </ion-item>
              <ion-item class="backgrounds" *ngIf="currentMailUser===domanda.cod_utente">
                <ion-label class="username_text_style" (click)="clickProfilo(domanda.cod_utente)">TU
                </ion-label>

              </ion-item>
              <ion-card-title class="textTitleBIG2"> {{domanda.titolo}}</ion-card-title>
            </ion-card-header>



            <ion-card-content>
              <p class="textSimple"></p>

              <ion-toolbar>
                <ion-icon name="calendar-outline" slot=start class="calendar_icon_style"></ion-icon>
                <ion-label class="description_text" slot="start">{{domanda.dataeora}}</ion-label>
                <ion-icon name="list" slot="start" class="icon_list_style"></ion-icon>
                <ion-label class="description_text" slot="start"> {{categorie_domande[i]}}</ion-label>


              </ion-toolbar>
            </ion-card-content>
            <div>
              <div class="homebardown"></div>
            </div>
          </ion-card>
        </div>



        <div *ngIf="switch !== true">

        <ion-card class="backgrounds" *ngFor="let sondaggio of sondaggi_regolati, let i = index">
          <div>
            <div class="homebarup"></div>
          </div>
          <ion-card-header>
            <ion-item class="backgrounds">
              <ion-icon class="alarm_style" name="lock-open-outline" ></ion-icon>
                <ion-label class="textTitle2" >Sondaggio aperto</ion-label>
                <ion-icon class="alarm_style" slot="end" name="ellipsis-vertical" (click)="presentPopover($event,index2,sondaggio.cod_utente,sondaggio.codice_sondaggio)"></ion-icon>

            </ion-item>
            <ion-item class="backgrounds" *ngIf="currentMailUser!==sondaggio.cod_utente">
              <ion-avatar slot="start" class="icon-avatar">
                <img src="{{profili_user_sondaggi[i].avatar}}">
              </ion-avatar>
              <ion-label class="username_text_style" (click)="clickProfilo(sondaggio.cod_utente)" >{{profili_user_sondaggi[i].username}}
              </ion-label>
            </ion-item>
            <ion-item class="backgrounds" *ngIf="currentMailUser===sondaggio.cod_utente">
              <ion-label class="username_text_style" (click)="clickProfilo(domanda.cod_utente)">TU
              </ion-label>
            </ion-item>

            <ion-card-title class="textTitleBIG2">{{sondaggio.titolo}}</ion-card-title>
          </ion-card-header>



          <ion-card-content>
            <p class="textSimple">{{sondaggio.descrizione}}</p>
            <ion-toolbar>
              <ion-icon name="calendar-outline" slot=start class="calendar_icon_style"></ion-icon>
              <ion-label class="description_text" slot="start">{{sondaggio.dataeora}}</ion-label>
              <ion-icon name="list" slot="start" class="icon_list_style"></ion-icon>
              <ion-label class="description_text" slot="start">{{categoria_sondaggi[i]}}</ion-label>


            </ion-toolbar>
          </ion-card-content>
          <div>
            <div class="homebardown"></div>
          </div>
        </ion-card>
      </div>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="start"   slot="fixed" style="opacity: 70%; ">
    <ion-fab-button  size="small" (click)="openMenu()"  color="light">
      <ion-icon name="arrow-forward-circle-outline" style="opacity: 100%; "></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>