<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    <ion-title>AnswerOverFlow</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content>
    <ion-card class="backgrounds">
      <ion-card-header>

        <ion-row center>
          <ion-icon class="textTitle" name="alarm-outline"></ion-icon>
          <ion-label class="textTitle"> 50:50</ion-label>
        </ion-row>



        <ion-card-title class="textTitleBIG">titolo domanda</ion-card-title>
      </ion-card-header>




      <ion-card-content>
        <p class="textSimple">prova descrizione</p>
        <ion-row>
          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Nome Utente</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Postato in: categoria il 12/12/99</ion-label>
            </div>
          </ion-col>

        </ion-row>



      </ion-card-content>

      <ion-row>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="chevron-forward" slot="icon-only" class="textTitleBIG">
                <ion-label></ion-label>
              </ion-icon>
            </ion-button>


          </div>
        </ion-col>

      </ion-row>

    </ion-card>
    <ion-card class="backgrounds">
      <ion-card-header>

        <ion-row center>
          <ion-icon class="textTitle" name="alarm-outline"></ion-icon>
          <ion-label class="textTitle"> 50:50</ion-label>
        </ion-row>



        <ion-card-title class="textTitleBIG">titolo domanda</ion-card-title>
      </ion-card-header>




      <ion-card-content>
        <p class="textSimple">prova descrizione</p>
        <ion-row>
          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Nome Utente</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Postato in: categoria il 12/12/99</ion-label>
            </div>
          </ion-col>

        </ion-row>



      </ion-card-content>

      <ion-row>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="chevron-forward" slot="icon-only" class="textTitleBIG">
                <ion-label></ion-label>
              </ion-icon>
            </ion-button>


          </div>
        </ion-col>

      </ion-row>

    </ion-card>
    <ion-card class="backgrounds">
      <ion-card-header>

        <ion-row center>
          <ion-icon class="textTitle" name="alarm-outline"></ion-icon>
          <ion-label class="textTitle"> 50:50</ion-label>
        </ion-row>



        <ion-card-title class="textTitleBIG">titolo domanda</ion-card-title>
      </ion-card-header>




      <ion-card-content>
        <p class="textSimple">prova descrizione</p>
        <ion-row>
          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Nome Utente</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Postato in: categoria il 12/12/99</ion-label>
            </div>
          </ion-col>

        </ion-row>



      </ion-card-content>

      <ion-row>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="chevron-forward" slot="icon-only" class="textTitleBIG">
                <ion-label></ion-label>
              </ion-icon>
            </ion-button>


          </div>
        </ion-col>

      </ion-row>

    </ion-card>
    <ion-card class="backgrounds">
      <ion-card-header>

        <ion-row center>
          <ion-icon class="textTitle" name="alarm-outline"></ion-icon>
          <ion-label class="textTitle"> 50:50</ion-label>
        </ion-row>



        <ion-card-title class="textTitleBIG">titolo domanda</ion-card-title>
      </ion-card-header>




      <ion-card-content>
        <p class="textSimple">prova descrizione</p>
        <ion-row>
          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Nome Utente</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <ion-label class="textTitleSMALL">Postato in: categoria il 12/12/99</ion-label>
            </div>
          </ion-col>

        </ion-row>



      </ion-card-content>

      <ion-row>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>

          </div>
        </ion-col>

        <ion-col>
          <div>
            <ion-button slot="end" color="light">
              <ion-icon name="chevron-forward" slot="icon-only" class="textTitleBIG">
                <ion-label></ion-label>
              </ion-icon>
            </ion-button>


          </div>
        </ion-col>

      </ion-row>

    </ion-card>
  </ion-content>
