.alarm_style{

    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5

}

.textTitle2 {
    font-size: 1rem;
    color: #97a9c5
  }

.thumb_up_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: green;
}

.thumb_down_style{

    font-size: 1.5rem;
    color: red;
}

.ribbon_style{
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: gold;
}

.icons_generic_style{
    font-size: 1.5rem;

}

.calendar_icon_style{
    padding-right: 0.5rem;
    font-size: 1rem;
    color: #97a9c5
}



.icon_list_style{
    //padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: #97a9c5;

}
.searchbar-search-icon {
   display:none; 
   /* width:0; 
   height:0; */
   align-items: center;
  }

ion-title {
    text-align: center;
}

.msg-btn{
    --padding-start: 0.5em;
    --padding-end: 0.5em
}

.textTitleBIG2 {
    font-size: 1.3rem;
    color: white;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
  }

ion-slides{
    overflow-y: scroll;
  }

  ion-item{
    --border-width:0px;
    --border-color:transparent;
    background-color: transparent;
  }

//CLASS

.cardClass {
    background-size: 100%;
    background: -webkit-linear-gradient(#19314A,transparent);
}

.description_text{
  font-size: 1rem;
  color: #97a9c5
}

.lockOpen{
  font-size: 25px;
  padding-right: 5px;
  color:green
}

.lockClosed{
  font-size: 25px;
  color: red
}

.usernameClass{
    font-size: 1rem;
    color: DodgerBlue;
}

.avatarClass{
    width: 23px;
    height: 23px;
    border: 1px solid !important;
    border-radius: 50% !important;
    margin: 5px;
} 

.iconClass{
  font-size: 25px;
} 