<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    <ion-icon expand="block" fill="clear" class="msg-btn" color="grey" slot="end" [name]="isActive?'close':'search'" item-right (click)="isActive=!isActive;"
    isActive=true></ion-icon>
    <ion-searchbar *ngIf="isActive===true" placeholder="Ricerca..."
    [(ngModel)]="keywordToSearch" (search)="ricerca($event)"
    ></ion-searchbar>
    <ion-title *ngIf="isActive!==true">ANSWER OVERFLOW</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card  class="backgrounds" *ngFor="let domanda of domande, let i = index">
    <ion-card-header>
      <ion-toolbar class="backgrounds">

        <ion-icon class="alarm_style" name="alarm-outline" slot="start"></ion-icon>
        <ion-icon slot="end" name="ellipsis-vertical" (click)="presentPopover($event)"></ion-icon>
        <ion-label class="textTitle">{{domanda.timer}}</ion-label>
        <ion-button slot="end" expand="block" *ngIf="currentMailUser===domanda.cod_utente" (click)="cancellaDomanda()"
          fill="clear">
          <ion-icon name="trash-sharp" color="primary" class="icons_generic_style"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="currentMailUser===domanda.cod_utente" (click)="  goModificaDomanda() "
          expand="block" fill="clear">
          <ion-icon name="hammer-sharp" color="primary" class="icons_generic_style"></ion-icon>
        </ion-button>

      </ion-toolbar>
      <ion-toolbar class="backgrounds" *ngIf="currentMailUser!==domanda.cod_utente">
        <ion-avatar slot="start" class="icon-avatar">
          <img src="https://i.ytimg.com/vi/mCf6UGT3HrA/maxresdefault.jpg">
        </ion-avatar>
        <ion-label class="username_text_style" (click)="clickProfilo(domanda.cod_utente)">{{domanda.cod_utente}}</ion-label>

      </ion-toolbar>
      <ion-card-title class="textTitleBIG"> {{domanda.titolo}}</ion-card-title>
    </ion-card-header>



    <ion-card-content>
        <p class= "textSimple"></p>
     
          <ion-toolbar>
              <ion-icon name="calendar-outline" slot = start class = "calendar_icon_style"></ion-icon>
              <ion-label class= "description_text" slot = "start" >{{domanda.dataeora}}</ion-label>
              <ion-icon name="list" slot = "start"  class = "icon_list_style"></ion-icon>
              <ion-label class= "description_text" slot = "start" > {{domanda.cod_categoria}}</ion-label>
               

          </ion-toolbar>
    </ion-card-content>
  </ion-card>

  <ion-card class="backgrounds" (click)="clickSondaggio(sondaggio.codice_sondaggio)" *ngFor="let sondaggio of sondaggi">
    <ion-card-header>
      <ion-toolbar class="backgrounds">
        <ion-icon class="alarm_style" name="alarm-outline" slot="start"></ion-icon>
        <ion-label class="textTitle">{{sondaggio.timer}}</ion-label>
        <ion-button slot="end" expand="block" *ngIf="currentUser===sondaggioUser" (click)="popUpEliminaSondaggio()"
          fill="clear">
          <ion-icon name="trash-sharp" color="primary" class="icons_generic_style"></ion-icon>
        </ion-button>
        <ion-button slot="end" *ngIf="currentUser===sondaggioUser" (click)="goModificaDomanda()" expand="block"
          fill="clear">
          <ion-icon name="hammer-sharp" color="primary" class="icons_generic_style"></ion-icon>
        </ion-button>
        <!--    <ion-label slot="end" class="textTitleSMALL">  Risposte totali: 
          <ion-label slot="end" class="textTitleSMALL">2</ion-label>
        </ion-label> -->

      </ion-toolbar>
      <ion-toolbar class="backgrounds" *ngIf="currentUser!==sondaggioUser">
        <ion-avatar slot="start" class="icon-avatar">
          <img src="https://i.ytimg.com/vi/mCf6UGT3HrA/maxresdefault.jpg">
        </ion-avatar>
        <ion-label class="username_text_style">{{sondaggioUser}}</ion-label>

      </ion-toolbar>

      <ion-card-title class="textTitleBIG">{{sondaggio.titolo}}</ion-card-title>
    </ion-card-header>



    <ion-card-content>
      <p class="textSimple">{{descrizione}}</p>

      <ion-list class="backgrounds">
        <ion-list-header>
          <ion-label *ngIf="currentUser===sondaggioUser">Voti totali: </ion-label>
        </ion-list-header>

        <div class="backgrounds">

          <ion-item *ngFor="let scelta of scelte">

            <ion-checkbox *ngIf="currentUser!==sondaggioUser" slot="start"></ion-checkbox>
            <ion-label *ngIf="currentUser===sondaggioUser" slot="start"></ion-label>
            <ion-text class="textSimple" slot="start"></ion-text>
          </ion-item>



        </div>
      </ion-list>



      <ion-toolbar>
        <ion-icon name="calendar-outline" slot=start class="calendar_icon_style"></ion-icon>
        <ion-label class="description_text" slot="start">{{sondaggio.dataeora}}</ion-label>
        <ion-icon name="list" slot="start" class="icon_list_style"></ion-icon>
        <ion-label class="description_text" slot="start"></ion-label>


      </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>