<ion-header>
  <ion-toolbar class=".backgroundsSecondaryItem">
    <ion-button slot="start" color="light">
      <ion-icon name="chevron-back-outline" color="primary" slot="start"></ion-icon>
      <ion-text color="primary">Indietro</ion-text>
    </ion-button>
    <ion-title class="textTitle">Recupera password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backgrounds">
  <ion-item>
    <ion-label class="titleSize">Hai dimenticato la password? <br> <ion-text class="normalText">Nessun problema! Inserisci nello spazio sottostante l'indirizzo e-mail collegato al tuo account per recuperarla</ion-text></ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Inserisci indirizzo e-mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input placeholder="indirizzo@esempio.com"></ion-input>
  </ion-item>
  
  <ion-button class="buttonPos"> Invio </ion-button>

</ion-content>
