<ion-header>
  <ion-toolbar class="backgroundsSecondaryItem">
    
    <ion-button slot="start" expand="block" fill="clear" (click)="goback()" class="backBtn">
      <ion-icon color="primary" slot="start" slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    
    <ion-title class="textTitle">Recupera Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-card-title class="titleSize">Hai dimenticato la password?
        <p style="line-height:2em;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
      </ion-card-title>
      <ion-card-subtitle class="normalText">Nessun problema!
        <div class="normalText">Inserisci nello spazio sottostante l'indirizzo e-mail collegato al tuo account per recuperarla!</div>
        </ion-card-subtitle>
    </ion-card-content> 
  </ion-card>

  <ion-card class="backgrounds">
    <ion-card-content>
      <ion-text class="boxText">Inserisci indirizzo e-mail</ion-text>
      <ion-text class="rboxText">*</ion-text>
      <ion-input [(ngModel)]="email" placeholder="indirizzo@esempio.com" class="phtext"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-button [disabled]="is_email_valid(email) === false" class="btnInvio" expand="block" (click)="post_invio()">
    <ion-text> INVIO </ion-text>
  </ion-button>
</ion-content>
