.textTitle{
    font-size: 1rem;
    color: #97a9c5;
    text-align: center;
}

.titleSize{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.normalText{
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff
}

.boxText{
    font-size: 0.8rem;
    font-weight: normal;
    text-align: start;
    color:#ffffff;
}

.rboxText{
    font-size: 0.8rem;
    font-weight: normal;
    text-align: start;
    color: red;
}

.phtext{
    font-size: 1rem;
    color: white;
}

.backBtn{
    --padding-start: 0.5rem;
    --padding-end: 0.5rem
}

.btnInvio{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}