.titleSize{
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}

.normalText{
    font-size: 90%;
    font-weight: normal;
    text-align: center;
}

.buttonPos{
    margin-left: 50%;
}
